<html>
<head>
    <title>Node.js Chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="/css/client.css"/>
</head>
<body>

    <div class="container" id="nickname-container">
        <h1>Choose a nickname!</h1>
        <span id="nick-error"></span>
        <form id="choose-nickname">
            <input type="text" id="nickname"></input>
        </form>
    </div>

    <div class="container" id="chat-container">
        <div class="row">
            <div class="clearfix visible-xs"></div>
            <div class="col-md-4" id="chat-col">
                <div class="row">
                    <form id="send-message">
                        <input type="text" id="new-message" autocomplete="off"></input>
						<input type="file" id="filesToUpload" />
						<output id="filesInfo"></output>
					  	<button id="sendMsgBtn">SEND</button>
                    </form>
                </div>
            </div>

        </div>
    </div>


<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" src="/socket.io/socket.io.js"></script>
<script type="text/javascript" src="/js/client.js"></script>
</body>
</html>