body {
	margin: 0px;
	padding: 0px;
	background-image: url(/image/skulls.png);
	background-repeat: repeat;
}

#bgThanks {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

.linaGGBlue {
	background-color: #009999 !important;
}

.linaGGViolet {
	background-color: #662D91 !important;
}